.header-text{
    font-size:24pt;
    font-weight:bold;
}
.subheader-text{
    padding-top:25px;
    font-size:12pt;
    padding-bottom:40px;
}
@media (max-width:400px){
    .subheader-text{
        
    }
}
