.header-text {

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;


    color: #FFFFFF;

}

.subheader-text {
    padding-top: 25px;

    padding-bottom: 40px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    text-align: center;

    color: #FAFAFA;
}

@media (max-width:400px) {
    .subheader-text {}
}